<%- include("partials/header.ejs") %>

<div class="container-md">
  <div class="row titleRow">
    <h1>Hi! I’m the Keely of Keely vs the Kitchen.</h1>
  </div>
  <div class="row titleRow">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      alt=""
      style="width: 50%"
    />
  </div>

  <div class="row">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a nibh
      non enim rutrum tristique sit amet et nulla. Nam vitae turpis consequat,
      euismod mi nec, cursus odio. Pellentesque habitant morbi tristique
      senectus et netus et malesuada fames ac turpis egestas. Nunc massa diam,
      blandit a porttitor eu, tempor eget justo. Ut vitae sapien vitae tortor
      feugiat tempor et vitae mi. Donec suscipit eros sed quam finibus cursus.
      Donec interdum et est sit amet scelerisque.
    </p>
    <p>
      Quisque elementum dui a nisl lacinia, eu pellentesque mi scelerisque.
      Suspendisse potenti. Aenean pulvinar volutpat finibus. Pellentesque
      faucibus nisi non magna sagittis rutrum. In hac habitasse platea dictumst.
      Pellentesque sollicitudin sodales posuere. Nulla vel dictum sem. Quisque
      commodo tincidunt consectetur. Suspendisse pellentesque, dolor et dictum
      pellentesque, turpis lectus euismod urna, eget imperdiet leo diam mollis
      risus. Morbi vitae elit id quam mattis aliquet sed sed tellus.
    </p>
    <p>
      Praesent eu feugiat lectus, at scelerisque tortor. Pellentesque commodo
      risus nec purus scelerisque posuere non id leo. Donec urna ex, dignissim
      in fringilla ut, lobortis et metus. Donec quis nunc ut justo rhoncus
      pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus.
      Duis vitae volutpat tellus. Duis ac est eu arcu cursus placerat id vel
      lorem. Morbi et erat sit amet nisl mattis scelerisque.
    </p>
    <p>
      Donec porta ultricies erat, eu malesuada tortor fermentum sed. Etiam ac
      viverra ante. Nulla sollicitudin purus posuere risus eleifend, quis
      pulvinar odio lobortis. Vestibulum nec nibh pulvinar, scelerisque mauris
      ut, commodo nisi. Nunc sodales magna nec leo sodales, non convallis lorem
      tristique. Nullam et magna volutpat, commodo diam sed, vehicula leo.
      Aliquam eget felis varius arcu facilisis consequat quis at lacus. Fusce
      eget mattis sapien. Nunc in mauris volutpat odio posuere hendrerit. Sed
      ullamcorper dignissim nunc id ultricies. Nam sit amet tempus nisi.
      Vestibulum cursus, quam eu placerat consequat, sapien nibh ultricies nisl,
      et consequat orci metus eget ipsum.
    </p>
    <p>
      Maecenas eget libero vestibulum odio luctus maximus consequat id tellus.
      Proin tempus elit sit amet nulla tincidunt, sed pharetra lacus aliquam.
      Curabitur enim leo, efficitur id mollis volutpat, sagittis quis est. Donec
      finibus purus et erat eleifend iaculis. Proin eu convallis dui.
      Suspendisse aliquet lectus ac accumsan laoreet. Quisque tristique massa
      felis, vitae porta ligula tempor sed. Proin pellentesque enim non nibh
      faucibus, varius lacinia leo posuere. Nam at bibendum ipsum, a venenatis
      arcu.
    </p>
  </div>
</div>
<%- include("partials/footer.ejs") %>
