<%- include("partials/header.ejs") %>

<h1>Hi! I’m the Keely of Keely vs the kitchen</h1>

<p>
  Welcome to Keely vs the Kitchen. I’m guessing you’re here because you want to
  know about the blog and perhaps me?
</p>

<p>
  Well, the basics are I’m Irish and I love eating, writing, photography, and
  having a laugh. I worked in a big Tech company until 2022 when I swapped a
  salary and security for a backpacking budget and uncertainty
</p>

<p>
  In 2019 I changed to a plant-based diet and discovered a love of cooking. I
  have always loved food and cooked well for myself but cooking plant-based
  brought a bit of excitement to my kitchen endeavours … I say my kitchen but
  I’m not (yet) a home owner so I don’t “own” the kitchen and have no control
  over it’s quality in terms of oven, hob, even fridge! Hence the name Keely vs
  the Kitchen. It’s been a challenge with very limited counter space but there’s
  been enough success to keep me going.
</p>

<p>
  I firmly believe that there is no “missing out” when eating plant-based, in
  fact, I think it’s the opposite! There is far more variety of flavour and
  texture in my plant-based cooking than there ever was before. I have found
  plant-based substitutes for so many things and managed to veganize all of my
  favourite meals.
</p>

<p>
  The world is moving more towards plant-based food and I’ve been exploring and
  munching on as much as possible during my travels.
</p>

<p>
  Check out my Instagram page where I share nice photos of what I’ve been making
  and eating.
</p>

<p>I hope you find some enjoyment and inspiration in these pages</p>

<%- include("partials/footer.ejs") %>
