<%- include("partials/header.ejs") %>

<h1>Welcome to KvK blogspot!</h1>

<form action="/newPost" method="GET">
    <input type="submit" value="New Post">
  </form>




<%- include("partials/footer.ejs") %>